

<body>
    <div class="wrapper">
        <div>
            <h5
                style=" font-family: 'Pacifico', cursive;color: whitesmoke; text-align: center; margin-left: 133px; font-size: 40px">
                The Pro Ping Pong Coach Connection</h5>

        </div>


        <div class="register">
            <div class="form-row">
                <form (submit)="register()">
                    <div class="form-group col-md-6">
                        <h4 class ="headers">Register</h4>

                        <!-- registration form with validation messages-->
                        <p class ="fields"><input type="text" name="first" placeholder="first name" [(ngModel)]="newUser.first"
                                required minlength="2" #first="ngModel" />
                        </p>
                    </div>
                    <div *ngIf="first.invalid && (first.dirty || first.touched)"
                    class="not">

                    <div *ngIf="first.errors.required">
                        First-name is required.
                        </div>
                        <div *ngIf="first.errors.minlength">
                            Must be at least 2 characters.
                        </div>

                    </div>
                    <div class = "trigger">
                            <p *ngIf="newUser.first.length < 2 && buttonTriggered">
                                    The first name submitted was less than 2 characters.Please try again.
                            </p>
                        </div>




                    <div class="form-group col-md-6">
                        <p class ="fields"><input type="text" name="last" required minlength ="2" [(ngModel)]="newUser.last" #last="ngModel" placeholder="last name" />
                        </p>
                    </div>

                    <div *ngIf="last.invalid && (last.dirty || last.touched)"
                    class="not ">

                        <div *ngIf="last.errors.required">
                            Last-name is required.
                        </div>
                        <div *ngIf="last.errors.minlength">
                            Last-name must be at least 2 characters long.
                        </div>


                    </div>
                    <div class = "trigger">
                            <p *ngIf="newUser.last.length < 2 && buttonTriggered">
                                    The last name submitted was less than 2 characters.Please try again.
                            </p>
                        </div>



                    <div class="form-group col-md-6">
                        <p class ="fields"><input type="email" name="email" [(ngModel)]="newUser.email" required minlength="4" #email = "ngModel" placeholder="email address" /></p>
                    </div>

                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="not">
    
                        <div *ngIf="email.errors.required">
                            Email must be valid.
                        </div>
                        
                        <div *ngIf="email.errors.minlength">
                            Email must be valid.
                        </div>
    
                    </div> 
                    <div class = "trigger">
                        <p *ngIf="newUser.email.length < 6 && buttonTriggered">
                                The Email submitted was invalid.
                        </p>
                    </div>





                    <div class="form-group col-md-6">
                        <p class = "fields"><input type="password" name="password" required minlength = "5" [(ngModel)]="newUser.password"  #password = "ngModel" placeholder="password" /></p>
                    </div>

                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                    class="not">

                        <div *ngIf="password.errors.required">
                            Password is required.
                        </div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 5 characters long.
                        </div>

                    </div>
                    <div class = "trigger">
                            <p *ngIf="newUser.password.length < 5 && buttonTriggered">
                                    The password submitted was less than 5 characters.Please try again.
                            </p>
                        </div>

                    <div class="form-group col-md-6">
                        <p class = "fields"><input type="submit" value="Register" [disabled]="newUser.password.length < 5"/></p>
                    </div>
                </form>
            </div>
        </div>


        <!--end registration form and validations-->





        <!--login form and validation messages-->
        <div class="login">
            <div class="form-row">
                <form (submit)="login()">
                    <div class="form-group col-md-6">
                        <h4 class ="headers">Login</h4>
                        <p class ="fields"><input type="text" name="currentUser.email" [(ngModel)]="currentUser.email"
                                placeholder="email address" /></p>
                    </div>
                    <div class = "trigger">
                            <p *ngIf="currentUser.email.length < 5 && buttonTriggered">
                                    Login info is invalid.Please try again.
                            </p>
                        </div>

                    <div class="form-group col-md-6">
                        <p class = "fields"><input type="password" name="currentUser.password" [(ngModel)]="currentUser.password"
                                placeholder="password"></p>
                        <p class="fields"><input type="submit" value="Login" /></p>
                    </div>
                    <div class = "trigger">
                            <p *ngIf="currentUser.password.length < 5 && buttonTriggered">
                                    Login info is invalid. Please try again.
                            </p>
                        </div>
                        <div class = "not">
                                <p *ngIf="notFound">
                                        User is not found.
                                </p>
                            </div>



